/**{ display: none; }*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

body{
	background-color: #f7f7f7;
}


nav{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}

.hamburger{
	margin-right: 50px;
	cursor: pointer;
}



.line{
	background-color: #fff;
	width: 40px;
	height: 3px;
	margin: 7px 0;
}

.nav-brand h3{
	font-size: 32px;
	font-family: 'Goldman', cursive;
	}

.nav-menu{
	display: flex;
	margin-left: auto;
}

.nav-menu ul{
	display: flex;
}

.nav-menu ul li{
	list-style: none;
	margin: 0 20px;
	font-size: 28px;
	cursor: pointer; 
}

.nav-menu ul li p{
	font-family: sans-serif;
}

.jumbotron{
/*	background-color: #ccc;
*/
	background-size: cover;
	height: 100vh;
	background-position: 90% ;
	/*filter: blur(5px);*/
	/*position: absolute;*/
	color: #fff;
	padding: 0 100px;
}

.jumbotron-background{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 100vh;
	background-image: url(image/makanan2.jpg);
	background-size: cover;
	background-position: center 65%;
	z-index: -1;
	filter: blur(1.5px);
}



.utama{
	text-align: center;
	margin-top: 150px;
}


.utama h1{
	font-size: 90px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #333;
	line-height: 75px;
}

.utama span{
	font-style: italic;
	text-shadow: 1px 1px 1px #333;
}

.wadah-bentuk{
	position: relative;
	margin-top: 80px;
}

.bentuk{
	/*position: absolute;*/
	position: absolute; 
  	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto; 
	border: 1px solid #fff;
	width: 50px;
	height: 50px;
	/*margin: 0 auto;*/
}

.bentuk1{
	transform: rotate(30deg);
}

.bentuk2{
	transform: rotate(60deg);
}

.bentuk3{
	/*transform: rotate(90deg);*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.bentuk3 i{
	font-size: 24px;
}

.quotes{
	margin : 0 200px;
	background-color: #fff;
	margin-top: -50px;
	padding: 50px 100px;
	text-align: center;
	box-shadow: -1px 1px 1px #ddd;
	margin-bottom: 100px;
}

.quotes img{
	/*text-align: center;*/
	width: 100px;
	border-radius: 50%;
}

.quotes p{
	margin-top: 30px;
	font-size: 22px;
	color: #444;
	font-style: italic;
	margin-bottom: 20px;
}

.quotes p span{
	color: orange;
}

.quotes .nama{
	color: #bbb;
	font-style: italic;
	margin-top: 120px;
}

.paragraf{
	/*border : 1px solid red;*/
	margin : 100px 350px;
}

.paragraf p{
	font-size: 20px;
	line-height: 26px;
	font-family: calibri, sans-serif;
	color: #333;
	margin-bottom: 50px;
}

.paragraf .first-letter{
	font-size: 70px;
	float: left;
	padding: 3px;
	line-height: 60px;
	font-family: serif;
	color: #111;
}

.slide{
	margin: 0 200px;
	position: relative;
	/*margin: 0 auto;*/
	margin-bottom: 100px;
}

.slide img{
	position: absolute;
	top: 0;
	right: 0;
}

.slide-judul{
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	padding: 50px;
	font-size: 32px;
}

.slide-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border: 3px solid #333;
	/*padding: 30px;*/
	border-radius: 50%;
	margin-right: 20px;
	font-size: 70px;
}

.slide-teks {
	background-color: #fff;
	padding: 50px;
	margin-right: 50px;
	box-shadow: -1px 1px 1px #ddd;
	/*position: relative;*/
	/*padding-top: 100px;*/
}



.slide-subjudul{
	padding: 50px 0;

}

.slide-subjudul h3{
	font-size: 28px;
	font-family:'bebas neue', sans-serif;
}

.slide-subjudul span{
	color: #333;
	font-style: italic;
}

.slide-teks p{
	width: 500px;
	color: #333;
}

.slide-arrow{
	margin-left: auto;
	width: 150px;
	text-align: right;
	}

.slide-arrow i{
	/*margin: 0 10px;*/
	margin-left: 50px;
	text-align: right;
	font-size: 20px;
	color: #333;
	cursor: pointer;
}